
<section>
    <div class="container">

        <div class="row">
            <img src="img/ph.png" class="img-circle m-x-auto d-block">
            <div class="col-md-4 offset-md-4">
                <form class="form-signin">
                    <label for="username" class="sr-only">Email address</label>
                    <input type="email" id="username" class="form-control" placeholder="USERNAME" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="PASSWORD" required>
                    <p>Li Europan ligues es membres del sam familie.</p>
                    <p>Lor separat existentie es un myth. Por scientie.</p>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    </div> <!-- /container -->
</section>