
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 card">
                <div class="card-block">
                    <h4 class="card-title">Web Project</h4>
                </div>
                <div class="card-block">
                    <p class="card-text">Item Name</p>
                    <a href="#" class="card-link">Download</a>
                </div>
            </div>
            <div class="col-md-4 card">
                <div class="card-block">
                    <h4 class="card-title">Web Project</h4>
                </div>
                <div class="card-block">
                    <p class="card-text">Item Name</p>
                    <a href="#" class="card-link">Download</a>
                </div>
            </div>
            <div class="col-md-4 card">
                <div class="card-block">
                    <h4 class="card-title">Web Project</h4>
                </div>
                <div class="card-block">
                    <p class="card-text">Item Name</p>
                    <a href="#" class="card-link">Download</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 card">
                <div class="card-block">
                    <h4 class="card-title">Web Project</h4>
                </div>
                <div class="card-block">
                    <p class="card-text">Item Name</p>
                    <a href="#" class="card-link">Download</a>
                </div>
            </div>
            <div class="col-md-4 card">
                <div class="card-block">
                    <h4 class="card-title">Web Project</h4>
                </div>
                <div class="card-block">
                    <p class="card-text">Item Name</p>
                    <a href="#" class="card-link">Download</a>
                </div>
            </div>
            <div class="col-md-4 card">
                <div class="card-block">
                    <h4 class="card-title">Web Project</h4>
                </div>
                <div class="card-block">
                    <p class="card-text">Item Name</p>
                    <a href="#" class="card-link">Download</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 card">
                <div class="card-block">
                    <h4 class="card-title">Web Project</h4>
                </div>
                <div class="card-block">
                    <p class="card-text">Item Name</p>
                    <a href="#" class="card-link">Download</a>
                </div>
            </div>
            <div class="col-md-4 card">
                <div class="card-block">
                    <h4 class="card-title">Web Project</h4>
                </div>
                <div class="card-block">
                    <p class="card-text">Item Name</p>
                    <a href="#" class="card-link">Download</a>
                </div>
            </div>
            <div class="col-md-4 card">
                <div class="card-block">
                    <h4 class="card-title">Web Project</h4>
                </div>
                <div class="card-block">
                    <p class="card-text">Item Name</p>
                    <a href="#" class="card-link">Download</a>
                </div>
            </div>
    </div>
</section>
