<section class="container-fluid">
    Client Selection

    <div class="row">
        <div class="col-md-4">
            Client1
        </div>
        <div class="col-md-4">
            Client2
        </div>
        <div class="col-md-4">
            Client3
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            Client4
        </div>
        <div class="col-md-4">
            Client5
        </div>
        <div class="col-md-4">
            Client6
        </div>
    </div>
</section>