<!--Privacy Policy partial-->
<section class="container-fluid">
    <div>
        <p>
            Food truck typewriter deep v, whatever brunch forage copper mug poutine tote bag williamsburg. Street art bushwick whatever sustainable messenger bag, forage narwhal vape glossier kombucha hell of sartorial echo park flannel lyft. Migas viral banh mi etsy franzen man braid echo park, ennui wolf salvia fanny pack. Unicorn af artisan flexitarian, intelligentsia tacos blog banjo raclette pinterest lo-fi schlitz chia iPhone plaid. Normcore tote bag quinoa chicharrones, bushwick keytar asymmetrical post-ironic mumblecore banjo austin. Vape gochujang direct trade, photo booth leggings echo park pug green juice. Lo-fi vice selvage, copper mug squid ennui occupy brooklyn banh mi whatever.

            Distillery hoodie post-ironic activated charcoal jean shorts, mlkshk you probably haven't heard of them everyday carry vice beard helvetica hella. Sriracha microdosing narwhal jean shorts squid pour-over venmo schlitz enamel pin, tumeric you probably haven't heard of them synth gluten-free flexitarian cold-pressed. Flannel chartreuse gentrify neutra. 8-bit flannel echo park, forage humblebrag austin deep v mlkshk ramps normcore. Whatever aesthetic thundercats pour-over, DIY pok pok distillery wayfarers letterpress beard celiac yuccie. Woke microdosing schlitz fam vegan. Pork belly austin street art, keffiyeh cardigan keytar pitchfork hashtag organic sustainable salvia marfa four loko meh.
        </p>
        <form>

            <input type="checkbox" name="checkbox" value="check" id="agree" /> I have read and agree to the Terms and Conditions and Privacy Policy
            <input type="submit" name="submit" value="submit" />

        </form>
    </div>
</section>